.account_coupons {
  padding: 50px;
  &-title {
    height: 82px;
    padding: 10px 25px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  &-count {
    font-size: 20px;
  }
  &-table {
    border: 1px solid #dddddd;
    font-size: 14px;
    .coupon-used {
      color: #e45454;
    }
  }
  &-mobile {
    display: none;
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 5px;
    .coupon-used {
      color: #e45454;
    }
  }
}

@media screen and (max-width: 992px) {
  .account_coupons {
    padding: 35px;
    &-table {
      display: none;
    }
    &-mobile {
      display: block;
    }
  }
}
@media screen and (max-width: 768px) {
  .account_coupons {
    padding: 20px;
  }
}
