.register {
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 40px 30px;
  width: 730px;
  margin: 15px 0;
  &-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &-form {
    font-size: 14px;
    padding: 40px 90px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e2e2e2;

    .error {
      margin: 5px 0 0 2px;
      font-size: 14px;
      color: #e45454;
    }
  }
  &-notice {
    margin-top: 15px;
    font-size: 14px;
  }

  &_password_box {
    position: relative;
  }

  &_password_icon {
    font-size: 24px;
    position: absolute;
    top: 20%;
    right: 3%;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .register {
    padding: 25px 20px;

    &-form {
      padding: 25px 50px;
    }
  }
}
@media screen and (max-width: 768px) {
  .register {
    padding: 20px 15px;

    &-form {
      padding: 20px 35px;
    }
  }
}
@media screen and (max-width: 576px) {
  .register {
    padding: 15px 10px;

    &-form {
      padding: 15px 20px;
    }
  }
}
