
//產品種類標題
.products_list-content{
  width: 50vw;
 
}
.products_list-category-product-box{
  margin-bottom: 1.6rem;
 }
.products_list-category-title{
  border-left:3px solid #000;
  padding-left: 1rem;
  color: #565656;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size:1.2rem;
  line-height: 2rem;
}
.products_list-order_search{
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.products_list-dropdown-toggle{
  border: 1px solid #767676;
  border-radius: 0px;
  background: #fff;
}
.products_list-search-input{
  border: 1px solid #000;
  border-radius: 0;
}
.products_list-search {
  border: 1px solid #000;
  
  background: #9AAB82;
}

.products_list-card-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  row-gap: 50px;
}

.products_list-card{
  max-width: 264px;
  max-height: 333px;
  border: none;
}

.products_list-card-title{
  font-family: "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-decoration: none;
  color: #565656;
  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.products_list-card-body{
  display: flex;
  flex-direction: column;
  gap:8px
}

.products_list-card-text{
  width: 100%;
  height: 15px;
  font-family: "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  justify-self: end;
  
  color: #9AAB82;
}



.products_list-pagination{
  padding: 20px 0;
}


.products_list-page{
  text-decoration: none;
  padding: 10px;
}
