header{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1920px;
height: 168px;
left: 0px;
top: 0px;

}

main {
  margin:0 auto;
  width: 1113.5px;
  height: 2745px;
  left: 302px;
  top: 300px;
}

.accordion{
  width: 238px;
  height: 498px;
}


nav{
  --bs-breadcrumb-divider: '>';
}
.card-box{

}

.content{
  width: 836px;
  height: 2666px;
}

.card{
  width: 264px;
  height: 333px;
}
.card img{
  
  
  height: 264px;
}

.card-text{
  text-align: right;
}