.product-intro{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 220px;
  gap: 140px;


  width: 1920px;
  height: 598px;
  margin: 0 auto;

}

img{
  max-width: 513px;
  max-height: 491px;
}
.product-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 591px;
  height:  502px;
}

.product-title{

width: 459px;
margin-bottom: 16px;
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
}
.product-description{
  width: 50%;
}
.detail-btn-group{
  width: 571px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
.btn{
  box-sizing: border-box;


  width: 262px;
  height: 40px;


  border: 1px solid #9AAB82;
  border-radius: 6px;
}
.empty{
  color: grey
}
.heart{
  color: red;
}
.info-box{
  width: 459px;
  height: 390px;

}