h3{
    font-size: 20px
}
.container{
    margin: 0 auto;
}
.recipe-title h1{
    margin: 20px  0 ;
    font-weight: 500;
}
.recipe-title h4{
    font-size: 18px;
}
.recipe-info{
    margin: 20px 0;
    color: #999;
}
.author{
    margin-right: 10px;
}

.recipe-image img{
    
    width: 90%;
}
.recipe-image button{
    color: #999;
    margin: 20px;
    padding: 5px 40px;
    font-weight: 600;
}
.recipe-ingredient{
    width: 90%;
}
.recipe-ingredient h3{
    font-size: 20px;
}

.ingredient-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ingredient{
    margin: 20px;
    width: 300px;
}

@media screen and (max-width: 768px){
    .ingredient-group{
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .ingredient{
        font-size: 18px;
        margin: 30px;
    }
}
.recipe-steps{
    width: 90%;
}
.recipe-steps h3{
    font-size: 20px;
}
.step{
    margin: 20px 0;
}
.step-image img{
    width: 90%;
    margin-bottom: 20px;
}
.step-text{
    padding: 10px;
}

.recipe-review{
    width: 90%;
}

.review-name{
    margin:10px;
}
.review-content{
    margin: 20px 10px;
}
.review-info{
    margin: 10px;
}


.sidebar h3{
    font-size: 16px;
    margin-top: 30px;
}
.sidebar ul li{
    margin: 20px;

}
.form-control:focus, .form-control:focus-visible{
    box-shadow: none;
    border-color: #ced4da;
  }