
.recipe-detail-container{
  margin: 30px auto;
}
.recipe-title h1 {
  margin: 20px 0;
  font-weight: 500;
}
.recipe-title h4 {
  font-size: 18px;
  line-height: 30px;
}
.recipe-info {
  margin: 20px 0;
  color: #999;
}
.recipe-author {
  margin-right: 10px;
}

.recipe-image {
  height: 400px;
  
}
.recipe-image img {
  width: 90%;
  height:100% ;
  object-fit: cover;
  object-position: center center;
}
.recipe-image button {
  color: #999;
  margin: 20px;
  padding: 5px 40px;
  font-weight: 600;
}
.recipe-ingredient {
  width: 90%;
  margin: 20px 0;
}
.recipe-ingredient h3 {
  font-size: 20px;
}

.ingredient-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ingredient {
  margin: 20px;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .ingredient-group {
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ingredient {
    font-size: 18px;
    margin: 30px;
  }
}

.recipe-product{
  width: 90%;
  margin: 30px 0;
}
.recipe-product h3{
  font-size: 20px;
  margin: 10px 0;
}
.recipe-recommend-card{
  width: 200px;
  // height: 80%;ã€‚
  margin: 20px;
}
.recipe-recommend-display{
  display: flex;
}
@media screen and (max-width: 768px) {
  .recipe-recommend-display{
    display: block;
  }
}
.recipe-steps {
  width: 90%;
}
.recipe-steps h3 {
  font-size: 20px;
}
.recipe-step {
  margin: 20px 0;
}
.recipe-step-image img {
  width: 90%;
  margin-bottom: 20px;
}
.recipe-step-text {
  padding: 10px;
  line-height: normal;
}

.recipe-review {
  width: 90%;
}

.review{
  margin: 50px 10px;
}
@media screen and (max-width: 1200px) {
  .review-left {
    display: none;
  }
  
}
.recipe-review h3{
  font-size: 20px;
}

.review-name {
  margin: 10px;
}
.review-content {
  margin: 20px 10px;
}
.review-info {
  margin: 10px;
}

.recipe-sidebar h3 {
  font-size: 16px;
  margin-top: 30px;
}
.recipe-sidebar ul li {
  margin: 20px;
}
.recipe-form-control:focus,
.recipe-form-control:focus-visible {
  box-shadow: none;
  border-color: #ced4da;
}
