//商品圖片和簡介

.product_detail-product-intro{
  display: grid;
  margin: 3rem auto;
  grid-template-columns: 50%  50% ;
  column-gap: 40px;

}


.product_detail-img{
  width: 450px;
  margin: 50px auto;
  
}
.product_detail-product-box{
  display: grid;
  grid-template-columns: 100%;
}
.product_detail-info-box{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  justify-content: space-evenly;

}

.product_detail-product-title{
  color:  #565656;
  font-family: "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none solid rgb(86, 86, 86);
  text-align: left;
}
.product_detail-product-description{
  margin: 6px 0px;
  font-family: "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  text-decoration: none solid rgb(123, 123, 123);
  text-align: left;
  color:  #7B7B7B
  
}
.product_detail-product-price{
  font-family: "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none solid rgb(154, 171, 130);
  text-align: left;
  vertical-align: middle;
  color:  #9AAB82
}

//按鈕區

.product_detail-detail-btn-group{
  width: 100%;
  gap: 1rem;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
.product_detail-product-btn{
  width: 45%;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-size: 15px;
  line-height: 26px;
  border: 1px solid #9AAB82;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
}
.product_detail-add-cart-btn{
  color:#9AAB82;
}
.product_detail-checkout-btn{
 
  background-color:  #9AAB82;
  color:  #FFFFFF;
}
.product_detail-like-btn{
  border: none;
  text-align: left;
}
.product_detail-empty{
  margin-right:1rem ;
  color: grey;
  transition: .4s;
}
.product_detail-heart{
  margin-right:1rem ;
  color: red;
}


//商品詳細資訊

.product_detail-section{
  padding: 32px 0;
}

.product_detail-section-title{
  font-family: "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  text-align: left;
  color:  #565656;
  height: 24px;
  border-left: 2px solid  #565656;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
}
.product_detail-detail-content{
  font-family: Verdana, Arial, sans-serif;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
  color:  #333333;
  display: inline;
}

.product_detail-score-box{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin:  0 auto;
  align-items: flex-start;
  padding: 73px 0;
  gap: 3rem;
}

.product_detail-average-score-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px 8px;
  gap: 10px;
  border: 1px solid #DDDDDD;

}
.product_detail-average-score{
  
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  //TODO:顏色可能要調
  // 原色:color: #C20E1A;
  color:#9AAB82;
  background-color:#D9D9D9 ;
  font-family:  "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 6rem;
  text-align: center;
}

.product_detail-stars{
  display: flex;
  justify-content: center;
  align-items:center ;
  min-width: 15vw;
  height:6vh;
}

.product_detail-score-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 8px;
  border: 1px solid #DDDDDD;
  font-family: "Noto Sans TC", "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6rem;
}

.product_detail-star-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  
}
.product_detail-bar-section{
  width: 30vw;
}

.product_detail-comment-box{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #E2E0DB;
  margin: 0 auto;
}
 
.product_detail-comment-top{
  width: 45vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto ; 
}

.product_detail-comment-info{
  display: flex;
  gap:20px;
  color: #89817D;
  padding: 9px 0 9px 0px;
}

.product_detail-comment-title{
  display: flex;
  align-self: center;
  font-family: 'Microsoft JhengHei';
  letter-spacing: 0.84px;
  color: #564E4A;
  line-height: 2rem;
  min-height: 2rem;
}
.product_detail-comment-top-text{
  font-family: 'Microsoft JhengHei';
  font-size: 0.9rem;
  line-height: 2rem;
  color: #89817D;
  text-decoration: none;
}

.product_detail-br{
  margin: 0 auto;
  width: 45vw;
}
.product_detail-user-comment-box{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 95px;
  gap: 1rem;
  border:0 0 0 1px solid #E2E0DB  ;

 
}

.product_detail-user-img-box{
 
  align-self: flex-start;
  object-fit: contain;
}

.product_detail-user-img{
  max-width:50px;
  height: auto;
 
  box-sizing: border-box;
  border-radius: 50%;
  
}
.product_detail-user-text{
  display: flex;
  flex-direction: column;
  justify-content:flex-start ;
  align-items:flex-start;
  gap: 10px;
}
.product_detail-user-comment{
  max-width:  40vw;;
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  gap: 22px;
  
}

.product_detail-comment-text{
  font-family: 'Microsoft JhengHei';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.84px;
  color: #564E4A;
}
.product_detail-user-star{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:40vw;
  margin: 0 auto;
}
.product_detail-pagination{
  width: 45vw;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.product_detail-card{
  max-width: 18rem;
  border: none;
}
.products_detail-card-body{

  display: flex;
  flex-direction: column;
  gap:8px
}
.product_detail-card-title{
  font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-decoration: none;
text-align: center;
justify-self: center;
color: #565656;
}
.product_detail-card-text{
  width: 100%;
  font-family: 'Noto Sans TC';
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  justify-self: center;
  color: #9AAB82;
}



@media screen and (max-width: 991px){
  .product_detail-img{
    width: 50%;
  }
  .product_detail-product-intro{
    column-gap: 40px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width:767px) {
  .product_detail-img{
    width: 100%;
  }

  .product_detail-score-box{
    display:block;
    
  }
  .product_detail-score-bar{
    margin-top: 30px;
  }
  .product_detail-score-text{
    width: 100%;
    text-align-last: left;
  }
  .product_detail-bar-section{
    min-width: 55vw;
  }
  .product_detail-comment-top{
    flex-direction: column;
  
  }
 .products_detail-comment-info{
    padding: 9px  0px;
 }

  .product_detail-user-img{
    width: 65px;  
    height: 65px;
    line-height: 63px;
    font-size: 27px;
  }
  .product_detail-user-star{
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

