.header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  &-highlight {
    height: 43px;
    @media screen and (max-width: 768px) {
      height: 30px;
    }
  }
  &-cart-item {
    width: 60px;
    &-img {
      width: 100%;
    }
  }
}
.logo-container {
  height: 86px;
  position: relative;
}
.logo {
  height: 60px;
  width: 180px;
}
.header-nav {
  height: 58px;
  display: flex;
  &-links {
    gap: 100px;
    @media screen and (max-width: 992px) {
      gap: 80px;
    }
  }
}
@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
.icon-box {
  font-size: 26px;
  position: absolute;
  gap: 15px;
  top: 25px;
  right: 40px;
}

// 購物車icon
.header-cart-icon-box {
  position: relative;
}
.header-cart-icon-count-box {
  position: absolute;
  top: -20%;
  right: -50%;
  width: 18px;
  height: 16px;
}
.header-cart-icon-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 5px;
  background-color: #e45454;
  color: #fff;
}
