.cart_button  {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.cart_index_tablet {
  display: none;
}

.cart_index_desktop {
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width: 768px) {
  .cart_index_desktop {
    display: none;
  }

  .cart_index_tablet {
    display: block;
  }

}


