.cart_button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.cart_index_tablet {
  display: none;
}

.cart_index_layout {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
  .cart_index_layout {
    display: flex;
    flex-direction: column;
  }
}
