.cart_em {
  font-style: normal;
}

.cart_card {
  padding: 16px;

  span {
    font-size: 13px;
  }

  a {
    height: 24px;
    width: 24px;
  }
  .product {
    font-weight: bold;
  }
}

.cart_title {
  font-size: 18px;
  font-weight: bold;
}

.cart_total {
  font-size: 22px;
}
