.account_edit {
  padding: 50px;
  &-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    .error {
      margin: 5px 0 0 2px;
      font-size: 14px;
      color: #e45454;
    }
  }
}

@media screen and (max-width: 992px) {
  .account_edit {
    padding: 35px;
  }
}

@media screen and (max-width: 768px) {
  .account_edit {
    padding: 20px;
    &-form {
      padding: 15px;
      gap: 10px;
    }
  }
}
