//carousel
  .swiper-button-prev{
    color:#565656;
    
  }
  .swiper-button-prev:after{
    font-size: 1rem;
    line-height: 24px;
  }
  
  .swiper-button-next{
    color:#565656;
  }
  
  .swiper-button-next:after{
    font-size: 1rem;
    line-height: 24px;
  }