.account_info {
  padding: 50px;
  &-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;

    &-name {
      font-size: 20px;
    }
    &-right {
      border-left: 1px solid #ddd;
      padding: 10px 20px;
    }
    &-text {
      margin-bottom: 30px;
    }
  }
}
