.account_info {
  background-color: rgb(236, 192, 207);
  &-card {
    background-color: peachpuff;
    &-left {
      background-color: rgb(198, 237, 198);
    }
    &-right {
      background-color: rgb(136, 136, 223);
    }
  }
}
